<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<title>MADTOWN INNOVATORS APPS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/back.js') }}"></script>
</head>
<header>
	<div class="container-fluid" align="center">
	<img class="img-fluid" style="margin-top: 15px" src="{{ url_for('static', filename='clubhouse.jpg') }}">
	</div>

	<!-- Button to Open the Modal -->
		<div class="container-fluid">
        <ul class="nav justify-content-center">
        <div class="alert alert-danger" style="margin-top: 20px">
        <strong>{{error}}</strong>
        </div>
        </ul>
		<ul class="nav justify-content-center">
		<button type="button" class="btn btn-info btn-lg" style="margin-top: 15px" onclick="location.href = '/CLUBHOUSEATTENDANCE/';">
		ATTENDANCE-REC HOME
		</button>
		</ul>
        <ul class="nav justify-content-center">
		<button type="button" class="btn btn-success btn-lg" style="margin-top: 15px" onclick="location.href = '/CLUBHOUSEHOME/';">
		EXIT
		</button>
		</ul>

		</div>




</header>

<body>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}" frameborder="0" allowfullscreen></script>



</body>

</html>