<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<title>MADTOWN INNOVATORS APPS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<header>
	<div class="container-fluid" align="center">
	<img class="img-fluid" style="margin-top: 15px" src="{{ url_for('static', filename='DHP_Logo.png') }}">
	</div>
	<div class="container-fluid" align="center">
		<img class="img-fluid" style="margin-top: 10px" src="{{ url_for('static', filename='login.jpg') }}">
	</div>
	<div class="container-fluid" align="center">
	<div class="col-sm-3 col-md-6 col-lg-4 ">
	<div class="alert alert-danger">
	<strong>{{error}}</strong>
	</div>
	</div>
	</div>
		<div class="container-fluid" align="center" style="margin-top: 10px">
			<div class="col-sm-3 col-md-6 col-lg-4 ">
				<ul class="nav justify-content-center">
				<button type="button" class="btn btn-success btn-lg" style="margin-top: 15px" onclick="location.href = '/MadtownHome/';">
				MADTOWN HOME
				</button>
				</ul>
				<a href="http://www.stackoverflow.com/" class="btn btn-info" role="button">Link Button</a>
				<p class="text-center" style="margin-top: 50px;"><font size="3" face="Arial" color="black">@Powered by MADTOWN INNOVATORS !.</font></p>
			</div>
		</div>








</header>

<body>

    <div class="border-row" style="width:100%"; margin-bottom: 15px></div>

    <div class="container-fluid" align="center" style="min-height:100%">

    </div>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>



</body>

</html>